body::-webkit-scrollbar {
    width:5px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #ede9fe;
  }

.footer-bg{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1118%26quot%3b)' fill='none'%3e%3crect width='1440' height='300' x='0' y='0' fill='rgba(238%2c 242%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c48 C 96%2c40 288%2c12 480%2c8 C 672%2c4 768%2c27 960%2c28 C 1152%2c29 1344%2c16 1440%2c13L1440 300L0 300z' fill='rgba(79%2c 70%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c97 C 96%2c88.2 288%2c52.8 480%2c53 C 672%2c53.2 768%2c98.4 960%2c98 C 1152%2c97.6 1344%2c60.4 1440%2c51L1440 300L0 300z' fill='rgba(79%2c 70%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c104 C 48%2c112 144%2c142.4 240%2c144 C 336%2c145.6 384%2c114.4 480%2c112 C 576%2c109.6 624%2c133.6 720%2c132 C 816%2c130.4 864%2c103.8 960%2c104 C 1056%2c104.2 1104%2c131.2 1200%2c133 C 1296%2c134.8 1392%2c117 1440%2c113L1440 300L0 300z' fill='rgba(79%2c 70%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c168 C 96%2c170.4 288%2c182.2 480%2c180 C 672%2c177.8 768%2c155.8 960%2c157 C 1152%2c158.2 1344%2c180.2 1440%2c186L1440 300L0 300z' fill='rgba(79%2c 70%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c217 C 96%2c221.6 288%2c243.4 480%2c240 C 672%2c236.6 768%2c200.4 960%2c200 C 1152%2c199.6 1344%2c230.4 1440%2c238L1440 300L0 300z' fill='rgba(79%2c 70%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c261 C 288%2c268.8 1152%2c292.2 1440%2c300L1440 300L0 300z' fill='rgba(79%2c 70%2c 229%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1118'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  
  background-size: cover; background-repeat: no-repeat; background-position: center center; 
}

